footer img {
    width: 150px;
    opacity: 0.5;
    margin-top: 2rem;
}
/* footer img:hover {
    opacity: 0.8;

} */

hr {
    color: var(--cyan-50);
    /* weight: 10px; */
    margin: auto;
    /* text-decoration: none; */
    opacity: 0.2;
    border-style: solid;
}

hr.large {
    width: 50%;
}

hr.small {
    width: 20%;
}

.list.social a i {
    color: var(--white);
    opacity: 0.5;
    /* margin: 1rem; */
}

.list.social a i:hover {
    /* color: var(--white); */
    opacity:0.8;
}

footer p {
    color: var(--cyan-50);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    align-self: end;
    margin: 1rem auto;
}

footer {
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--cyan);
}