footer img {
    width: 9.375rem;
    opacity: 0.5;
    margin-top: 2rem;
}

hr {
    color: var(--cyan-50);
    margin: auto;
    opacity: 0.2;
    border-style: solid;
}

hr.large {
    width: 50%;
}

hr.small {
    width: 20%;
}

.list.social a i {
    color: var(--white);
    opacity: 0.5;
}

.list.social a i:hover {
    opacity: 0.8;
}

footer p {
    color: var(--cyan-50);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.8125rem;
    align-self: end;
    margin: 1rem auto;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--cyan);
}

ul.errors {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 2rem;
    font-size: 0.8125rem;
    border-radius: 5px;
}

ul.errors li {
    display: inherit;
    width: 100%;
    text-align: center;
}