h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3.75rem;
    color: var(--pure-black);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    white-space: pre-line;
    margin-top: 7rem;
}




