h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 60px;
    color: var(--pure-black);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    white-space: pre-line;
    margin-top: 5rem;
}




