nav {
    background-color: white;
    width: 100%;
    padding-inline: 5rem;
    position: fixed; 
    top: 0;
    z-index: 9999;
}

.menu {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    z-index: 9999;
}

nav .menu-mobile {
    display: none;
}

.mobile-menu-button {
    display: none;
}

nav .logo{
    text-align-last: start;
    width: 7rem;
}

.menu .items {
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--pure-black);
}

li a:hover:not(.active) {
    color: var(--dark);
}

.pt-en {
    display: flex;
    justify-content: flex-end;
}

.pt-en a{
    color: var(--pure-black)
}

.pt-en .active-language{
    color: var(--cyan);
}

#backToTopButton {
    position: fixed;
    bottom: 1.25rem;
    right: 1.875rem;
    z-index: 99;
    border: none;
    background-color: transparent;
    cursor: pointer;
}