.s-presentation {
    background-color: var(--light);
}

.posts.presentation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card.presentation {
    background-color: var(--white);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 2rem;
}


.info {
    display: block;
    height: inherit;
    text-align: center;
}

.h2-p {
    display: block;
    margin-top: 2rem;
}


