.s-presentation {
    background-color: var(--light);
    /* padding: 2rem; */
}

.posts.presentation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    align-items: center;
    text-align: center;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.card.presentation {
    background-color: var(--white);
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    white-space: pre-line;
}

