.btn {
    background-color: var(--cyan);
    height: 3.200rem;
    border-radius: 9999px;
    font-size: 1.25rem;
    padding: 1.5rem;
    max-width: 12.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white);
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
    text-decoration: none;
}

.btn.submit {
    background-color: var(--dark);
    color: var(--white);
    font-size: 0.9375rem;
    width: 9.375rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

::placeholder {
    font-size: 0.9375rem;
}

.btn:hover {
    filter: brightness(0.8);
}

a.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0625rem;
    font-weight: 500;
    color: var(--white);
}

.btn-play img {
    width: 2.1875rem !important;
}

.btn img {
    padding-right: 0.9375rem;
    max-width: 2.5rem;
}

.buttons {
    display: flex;
    gap: 1.25rem;
}

.accordion {
    font-family: 'Lato', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--pure-black);
    text-align: left;
    border: none;
    background-color: var(--light);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.panel {
    margin: 1rem;
    text-align: justify ;
}