.btn {
    background-color: var(--cyan);
    height: 3.200rem;
    border-radius: 9999px;
    font-size: 20px;
    /* text-transform: uppercase; */
    padding: 1.5rem;
    /* min-width: 180px; */
    max-width: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    /* width: 180px; */
    color: var(--white);
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: filter 0.3s;
    text-decoration: none;
}

.btn.submit {
    background-color: var(--dark);
    color: var(--white);
    /* padding: 1rem; */
    font-size: 15px;
    width: 150px;
    /* margin-top: 2rem; */
    font-family: 'Montserrat';
    /* font-size: 17px; */
    font-weight: 500;
}

::placeholder {
    font-size: 15px;
}

.btn:hover {
    filter: brightness(0.8);
    /* background-color: var(--dark); */
}

a.btn {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 500;
    color: var(--white);
}

.btn-play img {
    width: 35px !important;
}

.btn img {
    padding-right: 15px;
    max-width: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.accordion {
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 500;
    color: var(--pure-black);
    text-align: left;
    border: none;
    background-color: var(--light);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.panel {
    /* padding: 1rem; */
    margin: 1rem;
    text-align: justify ;
}